
@import url('./circular.css');

body{
	font-family: 'Circular', sans-serif !important;
	background-color: #443E43 !important;
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#443E43), to(#121314)) !important; /*#121314*/

	background: -webkit-linear-gradient(top, #443E43, #121314) !important;

	background: -moz-linear-gradient(top, #443E43, #121314) !important;

	background: -ms-linear-gradient(top, #443E43, #121314) !important;

	background: -o-linear-gradient(top, #443E43, #121314) !important;
	/*background: #443E43 !important;*/
	font-size: 12px !important; 
	color: #FFFFFF !important;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #AAAAAA;
}

#oe_main_menu_navbar.navbar,
.o_web_settings_dashboard{
	background-color: #443E43 !important;
	border-color: #443E43 !important;
}

.o_content,
.o_main_content{ /*.o_view_manager_content*/
	background-repeat: repeat-x;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#443E43), to(#121314)) !important; /*#121314*/
	background: -webkit-linear-gradient(top, #443E43, #121314) !important;
}

.o_web_settings_dashboard .o_web_settings_dashboard_col > div{
	background: rgba(20, 20, 20, .4) !important;
}

.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard{
	background: #282828 !important;
}

#oe_main_menu_navbar.navbar-inverse{
	background-color: #443E43 !important;
	border-color: #443E43 !important;
}

.navbar-inverse .navbar-nav > li > a {
	padding: 10px 15px !important;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
	background-color: #443E43 !important;
	border-color: #00b8d4 !important; /*#2ebd79*/
	border-bottom: 2px solid;
	color: #FFFFFF !important;
}

.navbar-nav > li > a{
	color: #FFFFFF !important;
	font-size: 12px !important;
	font-weight: 700 !important;
}

.navbar-inverse .navbar-nav > li > a.oe_menu_toggler:hover{
	background-color: #443E43 !important;
	color: #DDD !important;
}

.navbar-inverse .navbar-nav > li > a.oe_menu_leaf:hover{
	background-color: #443E43 !important;
	color: #DDD !important;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #443E43 !important;
	color: #DDD !important;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #443E43 !important;
	color: #DDD !important;
}

.o_web_client > .o_main > .o_sub_menu{
	background-color: transparent !important;
}

.o_web_client > .o_main .o_sub_menu{
	border-right: none !important;
}

.o_web_client > 
.o_main .o_sub_menu 
.o_sub_menu_content .oe_secondary_menu_section{
	color: #AAA !important;
	text-transform: uppercase !important;
}

.o_web_client > 
.o_main .o_sub_menu 
.o_sub_menu_content .oe_secondary_menu_section,
.o_web_client > 
.o_main .o_sub_menu 
.o_sub_menu_content .oe_secondary_menu_section > a{
	color: #DDD !important;
}

.o_web_client > 
.o_main .o_sub_menu 
.o_sub_menu_content .oe_secondary_submenu > li:not(.active) > a{
	color: #DDD !important;
	border-left: 4px solid transparent !important;
	opacity: .7 !important;
}


.o_web_client > 
.o_main .o_sub_menu 
.o_sub_menu_content .oe_secondary_menu_section.active > a{
	color: #FFFFFF !important;
}

.nav-pills > li.active > a{
	background: rgba(0, 0, 0, .4) !important;
	color: #FFFFFF !important;
	opacity: 1 !important;
	border-left: 4px solid #d81b60 !important;
}

.nav-pills > li > a:hover, .nav > li > a:focus{
	background: rgba(0, 0, 0, .4) !important;
	color: #FFFFFF !important;
	opacity: 1 !important;
}

.o_control_panel{
	background: #443E43 !important;
	border-bottom: none !important;
	color: #FFFFFF !important;
	font-weight: 700 !important;
}

.o_content{
	font-weight: 500 !important;
}

.oe_view_nocontent{
	color: #BCBCBC !important;
}

.oe_view_nocontent_create{
	color: #AAA !important;
}

.breadcrumb{
	background: #443E43 !important;
}

.breadcrumb > .active{
	color: #DDD !important;
	text-transform: uppercase !important;
	font-size: 12px !important;
}

.btn{
	border: none !important;
	font-weight: 500 !important;
	text-transform: uppercase !important;
	font-size: 11px !important;
	outline: none !important;
}

.o_form_button_save,
.o_list_button_add,
.o-kanban-button-new,
.o_form_button_edit,
.o_chatter_button_new_message{
	padding: 3px 26px 4px !important;
	letter-spacing: 2px !important;
}

.btn-primary{
	background: #d81b60 !important;
	border-radius: 500px !important; 
}

.btn-default{
	background: transparent !important;
	color: #d81b60 !important;
}

.btn:hover{
	color: #FFFFFF !important;
	transform: scale(1.035) !important;
}

.btn:focus{
	color: #FFFFFF !important;
}

.btn.focus{
	color: #FFFFFF !important;
}

.o_control_panel .breadcrumb > li{
	vertical-align: bottom !important;
}

.o_control_panel .breadcrumb > li > a{
	color: #d81b60 !important;
	font-size: 12px !important;
	text-transform: uppercase !important; 
}

.o_form_view
{
	background-color: #443E43 !important;
}

.o_form_view > header{
	border-bottom: none !important;
	background-color: #443E43 !important;
	background-image: linear-gradient(to bottom, #443E43, #343536) !important;
}

.oe_highlight{
	background: transparent !important;
	color: #d81b60 !important;
	font-weight: 700 !important;
	border-bottom: 2px solid #d81b60 !important;
	border-radius: 0 !important;
}

.o_form_view > header > button:not(.btn-primary):not(.btn-link):not(.oe_highlight){
	background: #039be5 !important;
	color: #FFFFFF !important;
	border-radius: 500px;
	padding: 3px 10px 4px !important;
	letter-spacing: 1.5px !important;
}

.o_dropdown_toggler_btn{
	background: #039be5 !important;
	color: #FFFFFF !important;
	padding: 3px 3px 4px !important;
	letter-spacing: .4px !important;
}

/*breadcrumb active*/
.o_form_view ul.oe_form_status li.oe_active, .o_form_view ul.oe_form_status_clickable li.oe_active{
	background: #d81b60 !important;
	background-image: none !important; 
}

.o_form_view ul.oe_form_status li.oe_active > .arrow span,
.o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span{
	background: #d81b60 !important;
	background-image: none !important; 	
}


.o_form_view ul.oe_form_status li,
.o_form_view ul.oe_form_status_clickable li{
	background-color: #bdbdbd !important;
	background-image: linear-gradient(to bottom, #bdbdbd, #9e9e9e) !important;
}

.o_form_view ul.oe_form_status li > .arrow span,
.o_form_view ul.oe_form_status_clickable li > .arrow span{
	background-color: #bdbdbd !important;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdbdbd), to (#9e9e9e)) !important;
	background: -webkit-linear-gradient(top, #bdbdbd, #9e9e9e) !important;
}

.o_form_view ul.oe_form_status li:first-child > .label,
.o_form_view ul.oe_form_status_clickable li:first-child > .label{
	border-left: none !important;
}


.o_form_view .o_form_sheet_bg{
	background: #443E43 !important;
	border-bottom: none !important;
}

.o_form_view .o_form_sheet_bg .o_form_sheet{
	background: rgba(68, 62, 67, .2) !important;
	border: none !important;
}

.o_list_view{
	background: rgba(230, 230, 230, .2) !important;
}

.o_list_view thead{
	color: #DDD !important;
	background: rgba(240, 240, 240, .1) !important;
}

.table-striped > tbody > tr:nth-of-type(odd){
	background: rgba(240, 240, 240, .4) !important;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border-top: none !important;
}

.table > tbody > tr > td > a{
	color: #01579b !important;
}


.table-responsive{
	border: none !important;
}

.o_list_view thead > tr > th{
	border-left: none !important;
}

.table > thead > tr > th{
	border-bottom: none !important;
}

.o_list_view thead,
.nav-tabs{
	border-bottom: none !important;
}

.o_list_view tfoot{
	border-top: none !important;
	border-bottom: none !important;
	background: transparent !important; 
}

.o_form_label{
	color: #DDD !important;
    margin-left: 15px !important;
}


/*Required field background*/
.o_form_view .o_form_required.o_form_input, .o_form_view .o_form_required .o_form_input, .o_form_view .o_form_required.o_form_textarea, .o_form_view .o_form_required .o_form_textarea{
	border-bottom: 2px solid #d81b60 !important;
}

.o_searchview_input{
	background: inherit !important;
	color: #FFFFFF !important;
	font-weight: 700 !important;
}

.o_searchview .o_searchview_facet .o_facet_values{
	background: rgba(20, 20, 20, .8) !important;
}

input[type="text"]:not(.o_searchview_input), 
input[type="password"], 
input[type="number"], 
textarea, select,
.o_cp_searchview{
	background: rgba(240, 240, 240, .3) !important;
	border: 1px solid #767676 !important;
	padding: 10px 10px !important;
	border-radius: 30px !important;
	color: #DCDCDC !important;
	font-weight: 700 !important;
	font-size: 12px !important;
}

.o_form_view .o_form_input_dropdown .o_dropdown_button {
	top: 5px !important;
	right: 8px !important;
}

.o_form_view .o_form_input_dropdown .o_dropdown_button:after {
	vertical-align: bottom !important;
	border-left: 6px solid transparent !important;
	border-right: 6px solid transparent !important;
	border-top: 6px solid !important;
}

.o_datepicker .o_datepicker_button{
	top: 5px !important;
	right: 8px !important;
}

.o_datepicker .o_datepicker_button:after{
	vertical-align: bottom !important;
	border-left: 6px solid transparent !important;
	border-right: 6px solid transparent !important;
	border-top: 6px solid !important;
}

.ui-autocomplete{
	font-family: 'Circular' !important;
	background: #443E43 !important;
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a{
	color: #DCDCDC !important;

}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a:hover,
.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a:focus,
.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option.ui-state-focus > a{
	color: #FFFFFF !important;
}

.ui-autocomplete .ui-menu-item.ui-state-focus{
	background: #039be5 !important;
}

.modal-content{
	background: #443E43 !important;
}

.modal-header{
	border-bottom: none !important;
}

.modal-footer{
	border-top: none !important;
}

.o_form_view .oe_button_box .oe_stat_button{
	background: #443E43 !important;
}

.oe_stat_button .o_stat_info .o_stat_text:hover{
	color: #FFFFFF !important;
}

.dropdown-menu{
	background: #443E43 !important;
}

.datepicker .table-condensed > thead > tr:last-child{
	background: gray !important;
	color: #DCDCDC !important;
}

.datepicker .table-condensed > thead{
	background-color: rgba(0, 0, 0, .3) !important;
}

.datepicker .table-condensed > tbody > tr > td.active, .datepicker .table-condensed > tbody > tr > td .active{
	background-color: rgba(0, 0, 0, .3) !important;
}

.datepicker .table-condensed > tbody > tr > td.today:before {
	border-bottom-color: rgba(0, 0, 0, .3) !important;
}

.datepicker .table-condensed > thead > tr:first-child th:hover{
	background-color: rgba(0, 0, 0, .3) !important;
}

.bootstrap-datetimepicker-widget.bottom:after{
	border-bottom: 6px solid #443E43 !important;
}

.bootstrap-datetimepicker-widget td.day:hover, .bootstrap-datetimepicker-widget td.hour:hover, .bootstrap-datetimepicker-widget td.minute:hover, .bootstrap-datetimepicker-widget td.second:hover{
	background: rgba(230, 230, 230, .4) !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: transparent !important;
	color: #DCDCDC !important;
	border: none !important;
	border-bottom: 2px solid #039be5 !important;
}

.nav-tabs > li > a{
	color: #AAA !important;
	border: none !important;
	border-bottom: 2px solid transparent !important;
}

.nav-tabs > li > a:hover{
	background: transparent !important;
	border: none !important;
	padding: 10px 15px;
	border-bottom: 2px solid rgba(230, 230, 230, .3) !important;
}

.o_form_view .o_group .o_td_label{
	border-right: 1px solid transparent !important;
}

.ui-autocomplete .ui-menu-item > a{
	color: #FFFFFF !important;
}

.o_form_view.o_form_editable .o_form_field_many2manytags,
.o_form_view.o_form_editable .o_form_field_monetary{
	border: none !important;
}

select > option {
	color: #121314 !important;
}

.o_searchview{
	background: transparent !important;
	border: none !important;
}

.o_searchview .o_searchview_autocomplete li.o-selection-focus{
	background: #039be5 !important;
}

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_header, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped .o_kanban_card_header{
	background: rgba(40, 40, 40, .5) !important;
}

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_header .o_kanban_card_header_title .o_primary, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped .o_kanban_card_header .o_kanban_card_header_title .o_primary{
	color: #EEE !important;
}

.dropdown-menu > li > a{
	color: #DDD !important;
}

.dropdown-menu > li > a:hover{
	color: #443E43 !important;
}

.btn-icon{
	color: #AAA !important;
	background: transparent !important;
	border-bottom: 2px solid #ADADAD !important;
}

.btn-icon:active, .btn-icon.active, .open > .dropdown-toggle.btn-icon{
	background: #039be5 !important;
	color: #FFFFFF !important;
	border-bottom: 2px solid #039be5 !important;
}

button.o_calendar_button_day.active,
button.o_calendar_button_week.active,
button.o_calendar_button_month.active,
button.o_graph_button.active{
	background: #d81b60 !important;
	color: #FFFFFF !important;
}

.o_kanban_view .o_res_partner_kanban,
.o_kanban_view .oe_kanban_global_click.o_kanban_record:not(.oe_kanban_color_7):not(.ui-sortable-handle){
	background: #bdc3c7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left,#564556, #2c3e50) !important;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left,#564556, #2c3e50) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.o_kanban_view .o_kanban_record{
	box-shadow: none !important;
	border-bottom-right-radius: 50px !important;
	border-top-right-radius: 50px !important;
}

.o_kanban_view .o_kanban_record .o_kanban_image img{
	border-radius: 50% !important;
}

.o_kanban_view .o_kanban_record .o_kanban_image + div{
	padding-left: 180px !important;
}

.o_kanban_view .o_kanban_record .o_kanban_image + div > .oe_kanban_partner_links{
	margin-left: -110px !important;
	margin-top: 15px !important;
	position: absolute !important;
}

.o_kanban_view .o_kanban_record .o_kanban_image + div > strong{
	margin-left: -110px !important;
	margin-top: 42px !important;
	position: absolute !important;
	text-transform: uppercase !important;
	font-weight: 700 !important;
}

.o_kanban_view .o_kanban_record ul{
	padding-left: 10px !important;
	position: absolute !important;
	margin-top: 15px !important;
}

.o_web_settings_dashboard .o_web_settings_dashboard_col .o_web_settings_dashboard_planner .o_web_settings_dashboard_progress_title{
	color: #039be5 !important;
}


a{
	color: #039be5 !important;
}

.badge{
	background: #d81b60 !important; 
}

.progress-bar{
	background-color: #d81b60 !important;
}

.oe_module_desc > button{
	right: 28px !important;
}

.o_kanban_view .oe_kanban_color_0{
	color: #ADADAD !important;
	background: #443E43 !important;
}

.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard .o_welcome_message .o_welcome_content > a{
	color: #FFFFFF !important;
}

.btn.disabled, .btn[disabled], fieldset[disabled]{
	color: #ADADAD !important;
}

.o_notebook .o_view_manager_content{
	background: transparent !important;
}

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped .o_kanban_card_content .o_kanban_primary_bottom, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped .o_kanban_card_content .o_kanban_primary_bottom{
	background: transparent !important;
}

.o_kanban_view .o_kanban_group:nth-child(odd){
	background-color: #282828 !important;
}

.o_kanban_view .o_kanban_group{
	background-color: #212121 !important;
}

.o_kanban_view .o_kanban_group .o_kanban_header{
	color: #FFFFFF !important;
}

.o_kanban_view .o_kanban_group .o_kanban_header .o_kanban_config{
	color: #DCDCDC !important;
}

.o_kanban_view .o_kanban_group .o_kanban_header:hover .o_kanban_config, .o_kanban_view .o_kanban_group .o_kanban_header .o_kanban_config.open{
	background: #039be5 !important;
	color: #DCDCDC !important; 
}

.o_kanban_view .o_kanban_group .o_kanban_header .o_kanban_config i:hover{
	background: #039be5 !important;
	color: #DCDCDC !important; 
}

.o_kanban_view .o_kanban_group .o_kanban_header .o_kanban_quick_add i:hover{
	background: #039be5 !important;
	color: #DCDCDC !important;
}

.o_kanban_quick_create{
	background: #443E43 !important;
}

.oe_kanban_content > div strong{
	color: #039be5 !important;
}

.o_kanban_view .o_kanban_record .o_dropdown_kanban > a{
	margin-right: 13px !important;
}

.o_kanban_view .o_kanban_record .oe_kanban_avatar {
	border-radius: 30px !important;
	position: absolute !important;
	right: 25px !important;
	top: 25px !important;
}

.o_kanban_view .o_column_quick_create{
	background-color: #443E43 !important;
}

.o_kanban_view .o_column_quick_create .o_column_header .o_kanban_add_column{
	color: #DCDCDC !important;
}

.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_main{
	background-color: #343434 !important;
}

.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_main a{
	color: #DCDCDC !important;
}

.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_secondary{
	background-color: #787878 !important;
}

.o_kanban_view.o_kanban_dashboard.o_salesteam_kanban .o_sales_dashboard > div > table > tbody > tr > td.o_secondary a{
	color: #DCDCDC !important;
}

.o_kanban_view.o_kanban_dashboard.o_kanban_ungrouped a, .o_kanban_view.o_kanban_dashboard.o_kanban_grouped a{
	color: #EEE !important;
}

.o_mail_thread .o_thread_date_separator{
	border-bottom: 2px solid #787878 !important;
}

.o_mail_thread .o_thread_message .o_thread_message_core.o_mail_note{
	background-color: transparent !important; 
}

.o_mail_thread .o_thread_date_separator .o_thread_date{
	background: #787878 !important;
}

.o_form_view .oe_button_box .oe_stat_button .o_button_icon{
	color: #039be5 !important;
}

.o_form_view .oe_button_box .oe_stat_button .o_stat_info .o_stat_value{
	color: #d81b60 !important;
}

.o_form_view .o_horizontal_separator{
	color: #039be5 !important; 
}

.o_form_view .o_form_field_image .o_form_image_controls{
	background-color: #039be5 !important;
}

.btn-link{
	color: #039be5 !important;
}

.o_form_view .oe_link{
	color: #039be5 !important;
}

.label-primary{
	background-color: #039be5 !important;
}


.o_tooltip{
    border: 2px solid #039be5 !important;
    background-color: #039be5 !important;
}

.o_tooltip.active{
    background-color: #443E43 !important;
}

.o_tooltip.active.bottom::after{
	border-bottom-color: #443E43 !important;
}

.o_tooltip > .o_tooltip_content .o_skip_tour,
.o_tooltip > .o_tooltip_content{
	color: #FFFFFF !important;
}

.o_tooltip.bottom::before{
    border-bottom-color: #039be5 !important;
}

.o_tooltip::after {
    background: radial-gradient(#039be5, #039be5) !important;
}

.o_tooltip.active.bottom::before {
    border-bottom-color: #039be5 !important;
}

/*.o_form_view .o_group.o_inner_group > tbody > tr > td span.o_form_field, .o_form_view .o_group.o_inner_group > tbody > tr > td .o_form_field_boolean.o_form_field, .o_form_view .o_group.o_inner_group > tbody > tr > td .oe_avatar.o_form_field, .o_form_view .o_group.o_inner_group > tbody > tr > td .o_form_uri.o_form_field
{
	color: #d81b60 !important;
}

.o_form_readonly .o_group.o_inner_group > tbody > tr > td span.o_form_field, .o_form_readonly .o_group.o_inner_group > tbody > tr > td .o_form_field_boolean.o_form_field, .o_form_readonly .o_group.o_inner_group > tbody > tr > td .oe_avatar.o_form_field, .o_form_readonly .o_group.o_inner_group > tbody > tr > td .o_form_uri.o_form_field{
	color: #d81b60 !important;	
}
*/
.o_form_view.o_form_readonly .o_form_uri:first-line{
	color: #039be5 !important;
} 

.o_form_view ul.oe_form_status_clickable li > .label{
	color: #039be5 !important;
}

.o_form_view ul.oe_form_status li > .label, .o_form_view ul.oe_form_status_clickable li > .label{
	text-shadow: none !important;
	font-weight: 700 !important;
}

.o_form_view ul.oe_form_status li.oe_active > .label, .o_form_view ul.oe_form_status_clickable li.oe_active > .label{
	color: #FFFFFF !important;
}

.transition, input[type=radio]:after, input[type=checkbox][type=radio]:after, input[type=checkbox]:after {
  -moz-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  -o-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  -webkit-transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
  transition: all 0.25s cubic-bezier(0.75, 0.01, 0.48, 2);
}

.bgTransition, input[type=radio]:before, input[type=checkbox][type=radio]:before, input[type=checkbox]:before {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

input[type=radio], input[type=checkbox] {
  position: relative;
}
input[type=radio]:before, input[type=radio]:after, input[type=checkbox]:before, input[type=checkbox]:after {
  content: "";
  position: absolute;
}
input[type=radio]:before, input[type=checkbox]:before {
  height: 100%;
}
input[type=radio][type=radio], input[type=checkbox][type=radio] {
  border-radius: 30px;
}
input[type=radio][type=radio]:before, input[type=checkbox][type=radio]:before {
  width: 100%;
  border-radius: 30px;
  background-color: #EEE;
  box-shadow: 0 0 0 1px #EEE;
}

input[type=radio][type=radio]:after, input[type=checkbox][type=radio]:after {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #CCCCCC;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
}
input[type=radio][type=radio]:checked:after, input[type=checkbox][type=radio]:checked:after {
  -moz-transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75);
  -webkit-transform: scale(0.75, 0.75);
  transform: scale(0.75, 0.75);
}
input[type=radio][type=radio]:checked:before, input[type=checkbox][type=radio]:checked:before {
  background-color: #039be5 !important;
  box-shadow: 0 0 0 1px #039be5 !important;
}
input[type=radio][type=checkbox]:before, input[type=checkbox][type=checkbox]:before {
  width: 200%;
  background-color: #EEE;
  box-shadow: 0 0 0 1px #EEE;
  -moz-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  -webkit-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  border-radius: 30px;
}
input[type=radio][type=checkbox]:after, input[type=checkbox][type=checkbox]:after {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
  background-color: #CCCCCC;
  border-radius: 30px;
  -moz-transform: translate(60%, 0);
  -ms-transform: translate(60%, 0);
  -webkit-transform: translate(60%, 0);
  transform: translate(60%, 0);
}
input[type=radio][type=checkbox]:checked:after, input[type=checkbox][type=checkbox]:checked:after {
  -moz-transform: translate(-60%, 0);
  -ms-transform: translate(-60%, 0);
  -webkit-transform: translate(-60%, 0);
  transform: translate(-60%, 0);
}
input[type=radio][type=checkbox]:checked:before, input[type=checkbox][type=checkbox]:checked:before {
  background-color: #039be5 !important;
  box-shadow: 0 0 0 1px #039be5 !important;
}

input[type=radio], input[type=checkbox] {
  cursor: pointer;
  width: 15px;
  height: 15px;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{
    padding-left: 10px !important;
}

.o_form_view.o_form_editable .o_form_field_monetary{
	color: #FFFFFF !important;
}

.o_form_view .oe_button_box .oe_stat_button > span{
	font-size: 10px !important;
}

.o_mail_chat .o_mail_chat_content{
	background: transparent !important;
}


.ui-widget-content{
	background: #443E43 !important;
	color: #FFFFFF !important;
}

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table td{
	background: #443E43 !important;
}

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table td a{
	background-color: #777 !important;
}

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table td a:hover{
	color: #FFFFFF !important;
}


.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header{
	background: #282828 !important;
	color: #DCDCDC !important;
	border: none !important;
	border-bottom: 2px solid #ADADAD !important;
}

.o_calendar_container .o_calendar_sidebar_container .o_calendar_filter{
	background: #443E43 !important;
	border-top: none !important;
}

.o_cal_avatar{
	margin-left: 20px !important;
}

.o_calendar_filter .o_calendar_contact{
	margin-left: 10px !important;
}

.o_calendar_container .o_calendar_view .o_calendar_widget{
	background: #282828 !important;
}

.o_calendar_container .o_calendar_view .o_calendar_widget .fc-week-number, .o_calendar_container .o_calendar_view .o_calendar_widget .fc-widget-header{
	background-color: #212121 !important;
}

.fc-widget-header:not(.fc-agenda-slots){
	border: none !important;
}

.fc-state-highlight{
	background: #121314 !important;
}

.fc-widget-header .fc-agenda-divider-inner{
	background: #777 !important;
}

.fc-widget-header, .fc-widget-content{
	border: 1px solid #777 !important;
}
